*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: flame;
}
body{
    background-color: #f8f1e7;   
}
@font-face {
    font-family: flameserif;
    src: url(/Assets/FlameSans.otf);
}
@font-face {
    font-family: flame;
    src: url(/Assets/FlameRegular.otf);
}
.heading{
    color: #502314;
    font-size: 28px;
    font-weight: bolder;
}
.menu-bar{
    color: #502314;
    font-size: 25px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #737373 ;
    position: sticky;
    top: 0;
    background-color: #f8f1e7;
}
.user{
    color: #502314;
    font-size: 16px;
    margin-right: 10px;
}
.bag{
    color: #737373;
    font-size: 12px;
    margin-right: 5px;
}
.cart-btn{
    border: 1px solid #737373;
    border-radius: 20px;
    padding: 10px;
    color: #737373;
    font-size: 12px;
    text-decoration: none;
    width: 7rem;
    text-align: center;
}
.cart{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-head{
    font-size: 15px;
    font-family: flameserif;
    color: #502314;
}
.arrow{
    width: 1.5rem;
}
.main{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: white;
}
.main-2{
    background-color: rgb(255 170 0);
    color: #502314;
    padding: 5px;
    font-size: 11px;
    text-align: center;
}
.reward-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #502314;
    font-size: 12px;
    font-family: flameserif;
    padding: 10px;
    gap: 5px;
}
.reward-span{
    font-weight: 500;
    gap: 5px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: #502314;
}
.reward{
    background-color: rgb(238 232 222);
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.reward-1{
    background-color: rgb(214 208 199);
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
.fa-lock{
    color: #502314;
    margin-top: 2rem;
}
.reward-1-heading{
    color: #502314;
    font-size: 12px;
    font-weight: bolder;
}
.reward-img{
    width: 100px;
}
.rewards-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.reward-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.footer-nav{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    align-items: center;
    position: sticky;
    bottom: 0;
    background-color:#f8f1e7;
    border-top: 1px solid #737373 ;
}
.nav-div>img{
    width: 1.5rem;
}
.nav-item{
    text-decoration: none;
    color: #502314;
    font-size: 13px;
}
.nav-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media(max-width:500px){
    .cart-btn{
        display: none;
    }
    .footer-nav-img{
        display: none;
    }
    
}